.layout-content-wrapper {
  min-block-size: 100dvh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition:
    margin-inline-start var(--content-transition-duration) ease,
    clip-path var(--content-transition-duration) ease;
  will-change: margin-inline-start;
}

@media (min-width: 1280px) {
  .layout-content-wrapper {
    margin-inline-start: var(--vertical-nav-inline-size);
  }
  .vertical-nav--anchor-unpinned.vertical-nav--unpinned-style-icon
    .layout-content-wrapper {
    margin-inline-start: var(--vertical-nav-inline-size--type-icon);
  }
  .vertical-nav--anchor-unpinned.vertical-nav--unpinned-style-hidden
    .layout-content-wrapper {
    margin-inline-start: 0;
  }
}
